<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Console Appender (INFO Level) -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %msg%n</pattern>
        </encoder>
    </appender>
    
    <!-- Logger for specific package -->
    <logger name="org.machanism.machai" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>

    <!-- Root Logger -->
    <root level="WARN">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>