[submodule "bindex-maven-plugin"]
	path = bindex-maven-plugin
	url = https://github.com/machanism-org/bindex-maven-plugin.git
[submodule "gw-mcp-server"]
	path = gw-mcp-server
	url = https://github.com/machanism-org/gw-mcp-server.git
[submodule "bindex-mcp-server"]
	path = bindex-mcp-server
	url = https://github.com/machanism-org/bindex-mcp-server.git
[submodule "ghostwriter"]
	path = ghostwriter
	url = https://github.com/machanism-org/ghostwriter.git
[submodule "project-layout"]
	path = project-layout
	url = https://github.com/machanism-org/project-layout.git
[submodule "bindex-core"]
	path = bindex-core
	url = https://github.com/machanism-org/bindex-core.git
[submodule "genai-client"]
	path = genai-client
	url = https://github.com/machanism-org/genai-client.git
[submodule "machai-mcp-server"]
	path = machai-mcp-server
	url = https://github.com/machanism-org/machai-mcp-server.git
[submodule "gw-maven-plugin"]
	path = gw-maven-plugin
	url = https://github.com/machanism-org/gw-maven-plugin.git
[submodule "mcp-server-maven-plugin"]
	path = mcp-server-maven-plugin
	url = https://github.com/machanism-org/mcp-server-maven-plugin.git
